.join-our {
  flex-shrink: 0;
  padding: 50px 426px;
}
.join-our h1 {
  flex-shrink: 0;
  color: #37517e;
  text-align: center;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.join-our p {
  color: #444;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  height: 50px;
}
.join-our form {
  border-radius: 50px;
  background: #fff;
  display: inline-flex;
  padding: 0px 0px 0px 10px;
  width: 100%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}
.join-our form .input {
  flex: 1;
  border: none;
  outline: none;
  border-radius: 50px 0 0 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 82%;
  height: 30.5px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.join-our .subscribe-button {
  color: white;
  border: none;
  font-size: 16px;
  font-family: "Open Sans";
  padding: 10px;
  width: 112px;
  cursor: pointer;
  border-radius: 50px;
  background: #47b2e4;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}
